@use 'variables';

.overlay {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    &__bg {
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: 0.8);
        //  h-screen bg-black bg-opacity-80 w-2/3 left-0 top-0 bottom-0
    }

    &__sidebar {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: background-position 0.5s;
        background-size: 200% 100%;
        background-image: linear-gradient(to right, rgba(100, 100, 100, .98) 50%, transparent 50%);
        background-position: 100% 0;  

        &:hover, .sidebar-active {
            opacity: 1;
            background-position: 0 0;    

        }        
        // absolute w-1/3 h-screen top-0 right-0 bottom-0 flex items-center justify-center
    }

    @media (min-width:768px) {
        &__sidebar {
            width: variables.$width_sidebar;
        }

        &__bg {
            width: variables.$width_main;
        }
    }

}