@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

body {
  color: #fff;
  background: var(--background);
  font-family: Lato, sans-serif;
  overflow: hidden;
  font-size: 16px;
}

.page-content section {
  @apply p-20
}

.page-content h1, .page-content h2 {
  font-weight: 300;
  line-height: 1.55;
  margin: 0 0 .8em;
}

.page-content h1 {
  font-size: 4.2rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.page-content h2 {
  font-size: 20px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.page-content p {
  font-size: 1rem;
  margin: 10px 0;
  line-height: 28px;
}

.app-sidebar {
  color: transparent;
  transition: .25s ease-out 100ms
}

.app-sidebar:hover {
  color: #fff;
  background-color: rgba(100, 100, 100, .98);
}

.app-sidebar ul li {
  font-size: 1.35rem;
  text-transform: uppercase;
  height: 55px;
  padding: 1rem 0;
}